<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Music</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorMusic.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a class="text-nav-title" asp-page="/Albums/Index">Razor Music</a>
            <a class="text-nav-link" asp-page="/Albums/Create">+ Add new album</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <a href="https://github.com/almirleandro/razor-music">&copy; 2022 - Razor Music - Almir Marques</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>